<!doctype html>
<html>
<head>
	<link rel="stylesheet" href="css/styles.css">
	<title>Game</title>
	<script data-main="home/main" src="libs/requirejs/require.js"></script>
</head>
<body>

<div id="container">
  <div id="logo">
    <h1>Game</h1>
  </div>

  <div class="menu navbar">
    <div class="navbar-inner">
      <ul class="nav">
        <li><a href="#" >Login</a></li>
        <li><a href="#/logout" >Logout</a></li>
        <li><a href="#/isloggedin" >Logged In</a></li>
        <li><a href="#/register" >Register</a></li>
        <li><a href="#/about" >About</a></li>
      </ul>
    </div>
  </div>

  <div id="content"></div>
  <div id="footer"></div>

</div> 

</body>
</html>
